# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# specific files
Executables/.~*
Executables/8.5.2
Executables/10.5.2
Executables/12.5.2
Executables/14.5.2
Executables/20.0.2
*.out
Tests/TestComputeAKV
**/Dependencies
